.headerLogo-holder {
  text-align: center;
  padding: 2vw 20px;
  border-bottom: 1px solid #d3d3d3;
}
.header-logo {
  display: block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
